@{
    ViewBag.Title = "Sugerir Estrategia Valida";

}
@{
    string txtObejtivo = "";

}
<h2>Sugerir Estrategia Valida</h2>

<div class="grid-x grid-padding-x">
    <div class="large-6">
        <div class="large-6 cell">
            <label>Plan de Marketing</label>
            <select>
                <option>Plan 1</option>
                <option>Plan 2</option>
                <option>Plan 3</option>
                <option>Plan 4</option>
            </select>
        </div>
        <div class="large-6 cell">
            <label>Objetivos</label>
            <select>
                <option>Plan 1</option>
                <option>Plan 2</option>
                <option>Plan 3</option>
                <option>Plan 4</option>
            </select>
        </div>
    </div>
    <div class="large-6">
        <div class="large-6 large-offset-3">
            <input type="button" value="Nueva Estrategia" class="button" data-open="exampleModal11" />
            <input type="button" value="Sugerir estrategias por comparación" class="button" />
        </div>
    </div>
    <div class="large-12">
        <table class="table-scroll">
            <thead>
                <tr>
                    <td></td>
                    <td>Estrategia</td>
                    <td>Estado</td>
                    <td>Opciones</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><input type="checkbox" /></td>
                    <td>Estrategia 1</td>
                    <td>Estrategia 2</td>
                    <td>Estrategia 3</td>
                </tr>
            </tbody>

        </table>
    </div>






    <div class="large-12" id="columnchart_material" style="height: 500px;"></div>
</div>

<div class="small reveal " id="exampleModal11" data-reveal>

    <div class="medium-6 column">
        <h2> Registro de Estrategia</h2>
    </div>
    <div class="medium-6 column">
        <h3>Estrategia para cumplir el objetivo de @txtObejtivo</h3>
    </div>
    <div class="medium-6 column">
        <label>Estrategia:</label>
        <input type="text" placeholder="Nombre Estrategia" />
    </div>
    <div class="medium-6 column">
        <label>Descripción por Estrategia:</label>
        <textarea rows="3" placeholder="Descripción de estrategia"></textarea>
    </div>
    <div class="grid-x grid-padding-x">
        <div class="cell small-2">
            <label>Fecha:</label>
        </div>
        <div class="cell small-3">
            <input type="text" id="dpt" />
        </div>
    </div>
    <div class="medium-6 column">
        <label>Factores o Rubros de la Estrategia (ingrese del 1 al 10): </label>
    </div>
    <div class="medium-6 column">
        <div class="grid-x grid-padding-x">
            <div class="cell small-3">
                <label>Apoyo del Área de Finanzas</label>
            </div>
            <div class="cell small-2">
                <input type="text" />
            </div>
            <div class="cell small-3">
                <label>Colaboración en el equipo</label>
            </div>
            <div class="cell small-2">
                <input type="text" />
            </div>
        </div>
        <div class="grid-x grid-padding-x">
            <div class="cell small-3">
                <label>Apoyo de otras áreas</label>
            </div>
            <div class="cell small-2">
                <input type="text" />
            </div>
            <div class="cell small-3">
                <label>Puntualidad del equipo</label>
            </div>
            <div class="cell small-2">
                <input type="text" />
            </div>
        </div>
    </div>

    <div class="grid-x grid-padding-x align-center">
        <div class="cell small-4"><a class="button" href="#">Aceptar</a></div>
        <div class="cell small-4"><a class="alert button" href="#">Cancelar</a></div>
    </div>

    <button class="close-button" data-close aria-label="Close reveal" type="button">
        <span aria-hidden="true">&times;</span>
    </button>
</div>


<script type="text/javascript">
    

        $('#dpt').fdatepicker({
            format: 'mm-dd-yyyy hh:ii',
            disableDblClickSelection: true,
            language: 'vi',
            pickTime: true
        });


    google.charts.load('current', { 'packages': ['bar'] });
    google.charts.setOnLoadCallback(drawChart);

    function drawChart() {
        var data = google.visualization.arrayToDataTable([
          ['Year', 'Sales', 'Expenses', 'Profit'],
          ['2014', 1000, 400, 200],
          ['2015', 1170, 460, 250],
          ['2016', 660, 1120, 300],
          ['2017', 1030, 540, 350]
        ]);

        var options = {
            chart: {
                title: 'Company Performance',
                subtitle: 'Sales, Expenses, and Profit: 2014-2017',
            }
        };

        var chart = new google.charts.Bar(document.getElementById('columnchart_material'));

        chart.draw(data, google.charts.Bar.convertOptions(options));
    }
</script>