@{
    ViewBag.Title = "Sugerir Accion Valida";

}


<div id="app">
    <h2>Sugerir Acción Valida</h2>

    <input type="hidden" id="hdIDAccion" value="0" />

    <div class="grid-x grid-padding-x">
        <div class="large-6">
            <div class="large-6 cell">
                <label>Plan de Marketing</label>
                <select id="SELPMKT">
                    <option>--Seleccione--</option>
                </select>
            </div>
            <div class="large-6 cell">
                <label>Objetivos</label>
                <select id="SELOBJ">
                    <option value="0">--Seleccione--</option>
                </select>
            </div>
            <div class="large-6 cell">
                <label>Estrategia</label>
                <select id="SELESTR">
                    <option value="0">--Seleccione--</option>
                </select>
            </div>
        </div>
        <div class="large-6">
            <div class="large-6 large-offset-3">
                <a href="#" class="button" id="btnNuevo" disabled>&nbsp;&nbsp; Nueva Acción &nbsp;&nbsp;</a>
                <a href="#" class="button" id="btnSugerir" disabled>&nbsp;&nbsp;&nbsp; Sugerir Acción &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
                <a href="/" class="button">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Cerrar &nbsp;&nbsp;&nbsp;&nbsp;</a>
            </div>
        </div>
        <div class="large-12">
            <table class="table-scroll" id="tbGeneral">
                <thead>
                    <tr>
                        @*<td></td>*@
                        <td>Acción</td>
                        <td>Estado</td>
                        <td>Fecha</td>
                        <td>Opciones</td>
                    </tr>
                </thead>
                <tbody></tbody>

            </table>
        </div>
        <div class="large-12" id="columnchart_material" style="height: 500px;"></div>
        <label id="TextoShow"></label>

    </div>

    <div class="small reveal " id="exampleModal11" data-reveal>

        <div class="medium-6 column">
            <h2> Registro de Acción</h2>
        </div>
        <div id="tituloEstr" class="medium-6 column">
            <h3> </h3>
        </div>
        <div class="medium-6 column">
            <label>Acción:</label>
            <input id="txtnombre" type="text" placeholder="Nombre Acción" maxlength="50" />
        </div>
        <div class="medium-6 column">
            <label>Descripción por Acción:</label>
            <textarea id="txtdescripcion" rows="3" placeholder="Descripción de Acción"></textarea>
        </div>
        <div class="grid-x grid-padding-x">
            <div class="cell small-2">
                <label>Costo:</label>
            </div>
            <div class="cell small-3">
                <input type="text" id="txtcosto" placeholder="Costo" />
            </div>
        </div>
        <div class="grid-x grid-padding-x">
            <div class="cell small-2">
                <label>Fecha:</label>
            </div>
            <div class="cell small-3">
                <input type="datetime" id="dpt" readonly="readonly" />
            </div>
        </div>
        <div class="medium-6 column">
            <label>Factores o Rubros de la Acción (ingrese del 1 al 10): </label>
        </div>
        <div class="medium-6 column ">
            <div class="grid-x grid-padding-x ContenedorRubros">

            </div>
        </div>

        <div class="grid-x grid-padding-x align-center">
            <div class="cell small-4">
                <a class="button" href="#" id="btnGuardar">Aceptar</a>
            </div>
            <div class="cell small-4">
                <a href="#" class="alert button" data-close aria-label="Close reveal">Cancelar</a>
            </div>
        </div>

        <button class="close-button" data-close aria-label="Close reveal" type="button">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

</div>


<script src="~/Scripts/JSVistas/sugerirAccionValidaJs.js"></script>
